input[type=text] {
    width: 150px;
    padding: 8px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    /* border: solid #cccccc; */
    /* -webkit-transition: 0.5s; */
    /* transition: 0.5s; */
    /* outline: none; */
}

body{
  color:white;
  background-color: #121212;
}

#canvas_div{
  background-color: #828282;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
/*   position: absolute;   */
}
#canvas{
  display:inline;
}

.container1 {
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#frm1 input[type=text] {
    width: 200px;
}

.gtable {
  display: flex;
  justify-content: center;
  color: black;
}

table {
    max-width: 100%;
    background-color: white;
}

.gtable tr:nth-child(odd) {
    background-color: #eeeeee;
}

.gtable th {
    background-color: #555555;
    color: #ffffff;
}

.gtable th,
td {
    text-align: center;
    padding: 0.5rem 1rem;
}

